/*=============== Global =================*/
* {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html,
body {
  width: 100%;
  height: 100%;
}

/*=============== Nav =================*/
.navbar {
  padding: 0;
}

.nav-item {
  padding: 0 1vw;
  font-weight: bold;
}

.nav-item,
.nav-link {
  transition: 0.5s;
}

.nav-link,
.nav-link:visited,
.nav-link:active {
  color: #e8be98;
}

.nav-item:hover {
  background-color: #e8be98;
}

.nav-item:hover .nav-link {
  color: #270f0d;
}

/*=============== Content =================*/
.row {
  width: 100%;
}

/* .left-img, .right-img {

} */

.right-img {
  float: right;
}

.content {
  text-align: center;
}

#btn{
  padding-top: 20px;
}
.searchBtn {
  background-color: rgb(15, 83, 230);
  color: white;
  text-align: center;
 padding: 10px 20px;
  font-size: 15px;
  cursor: pointer;
  display: inline-block;
  
}

.col-2 {
 
  margin-left: 100px;
  position: relative;
}

.col-1{
  padding-top: 100px;
  width: max-content;
}

#lodge1{ position: absolute;
 ;
  top: 75px;
  left: 55px;
  width: 40px;
  height:70px
}

#lodge2{position: absolute;
  top: 175px;
  left: 55px;
  width: 40px;
  height:60px}

#lodge3{position: absolute;
  top: 320px;
  left: 20px;
  width: 60px;
  height:60px}


  #lodge4{ position: absolute;
    top: 75px;
    left: 165px;
    width: 40px;
    height:70px
  }

  #lodge5{ position: absolute;
    top: 205px;
    left: 160px;
    width: 50px;
    height:45px
  }

  #lodge6{ position: absolute;
    top: 330px;
    left: 170px;
    width: 50px;
    height:55px
  }

  #lodge7{ position: absolute;
    top: 0px;
    left: 300px;
    width: 50px;
    height:25px
  }

  #lodge8{ position: absolute;
    top: 80px;
    left: 280px;
    width: 60px;
    height:65px
  }

  #lodge9{ position: absolute;
    top: 210px;
    left: 280px;
    width: 60px;
    height:70px
  }

  #lodge10{ position: absolute;
    top: 350px;
    left: 280px;
    width: 60px;
    height:40px
  }
  
  #image1{
    width:200px;
    height:150px
  }

/*.bookingSummary{
  visibility: hidden;
}*/
  
/*=============== Game =================*/
.canvas-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

canvas {
  background-image: url("../images/bg.png");
  background-size: cover;
}

.back-btn {
  position: absolute;
  left: 10px;
  top: 10px;
  padding: 5px 10px;
  background-color: #270f0d77;
  border-radius: 5px;
  font-size: 12px;
  box-shadow: rgba(0, 0, 0, 0.5) 5px 5px 20px;
}

.back-btn a {
  text-decoration: none;
  color: #e8be98;
  font-size: 2em;
}
